// .mat-button-toggle {
//     background-color: #ff4081;
//     color: #fff;
// }

.mat-button-toggle-checked{
    background-color: #3f51b5;
    color: #fff;
}

.col-5{
    border: 1px solid rgba(0, 0, 0, 0.12);
}