<p>snackbar works!<<div class="container">
        <h3>CustomSnackbar</h3>
        <mat-divider></mat-divider>
        <div class="wrapper mt-3">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">

                    <button class="mr-2" mat-flat-button color="primary" (click)="openCustomSnackBar('Saved Successfully!', 'Okay', 'success')">Success</button>
                    <button class="mr-2" mat-flat-button color="warn" (click)="openCustomSnackBar('Saved Failed!', 'Try Again', 'error')">Error</button>
                </div>
            </div>
        </div>