<div class="container">
    <h3>Components</h3>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="row">
            <div class="col-2">
                <mat-card class="example-card" >
                        <img mat-card-image src="../../../assets/images/button.scene.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <mat-card-header>
                                <mat-card-title>Buttons</mat-card-title>
                              </mat-card-header>
                          <p>
                            An interactive button with a range of presentation options.
                          </p>
                          <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                        </mat-card-content>
                      
                </mat-card>
            </div>
            <div class="col-2">
                <mat-card class="example-card" >
                        <img mat-card-image src="../../../assets/images/button-toggle.scene.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <mat-card-header>
                                <mat-card-title>Buttons Toggle</mat-card-title>
                              </mat-card-header>
                          <p>
                            A groupable on/off toggle for enabling and disabling options.
                          </p>
                          <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                        </mat-card-content>
                      
                </mat-card>
            </div>

            <div class="col-2">
                <mat-card class="example-card" >
                        <img mat-card-image src="../../../assets/images/menu.scene.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <mat-card-header>
                                <mat-card-title>Menu</mat-card-title>
                              </mat-card-header>
                          <p>
                            A floating panel of nestable options.
                          </p>
                          <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                        </mat-card-content>
                      
                </mat-card>
            </div>

            <div class="col-2">
                <mat-card class="example-card" >
                        <img mat-card-image src="../../../assets/images/badge.scene.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <mat-card-header>
                                <mat-card-title>Badges</mat-card-title>
                              </mat-card-header>
                          <p>
                            A small value indicator that can be overlaid on another object.
                          </p>
                          <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                        </mat-card-content>
                      
                </mat-card>
            </div>

            <div class="col-2">
                <mat-card class="example-card" >
                        <img mat-card-image src="../../../assets/images/dialog.scene.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <mat-card-header>
                                <mat-card-title>Dialog</mat-card-title>
                              </mat-card-header>
                          <p>
                            A small value indicator that can be overlaid on another object.
                          </p>
                          <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                        </mat-card-content>
                      
                </mat-card>
            </div>
            <div class="col-2">
              <mat-card class="example-card" >
                      <img mat-card-image src="../../../assets/images/card.scene.png" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                          <mat-card-header>
                              <mat-card-title>Card</mat-card-title>
                            </mat-card-header>
                        <p>
                          A small value indicator that can be overlaid on another object.
                        </p>
                        <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                      </mat-card-content>
                    
              </mat-card>
          </div>

          <div class="col-2">
            <mat-card class="example-card" >
                    <img mat-card-image src="../../../assets/images/tooltip.scene.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <mat-card-header>
                            <mat-card-title>Tooltip</mat-card-title>
                          </mat-card-header>
                      <p>
                        A small value indicator that can be overlaid on another object.
                      </p>
                      <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                    </mat-card-content>
                  
            </mat-card>
        </div>
        <div class="col-2">
          <mat-card class="example-card" >
                  <img mat-card-image src="../../../assets/images/snack-bar.scene.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <mat-card-header>
                          <mat-card-title>snackbar</mat-card-title>
                        </mat-card-header>
                    <p>
                      A small value indicator that can be overlaid on another object.
                    </p>
                    <a routerLink="buttons" mat-raised-button color="primary" style="float: right;">Know More</a>
                  </mat-card-content>
                
          </mat-card>
      </div>
        </div>
    </div>
</div>
