<div class="container">
    <h3>Card</h3>
    <mat-divider></mat-divider>
    <div class="wrapper mt-3">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <mat-card class="bg-app mat-elevation-z0 profile-card">
                    <mat-card-header class="mb-4">
                        <div mat-card-avatar class="profile-image mat-elevation-z6"></div>
                        <div class="hcount">
                            <h4>
                                <small>Post</small>
                                23
                            </h4>
                        </div>
                        <div class="hcount">
                            <h4>
                                <small>Followers</small>
                                33
                            </h4>
                        </div>
                        <div class="hcount">
                            <h4>
                                <small>Following</small>
                                1.2k
                            </h4>
                        </div>
                    </mat-card-header>

                    <mat-card-content>
                        <mat-card-subtitle>Saurabh</mat-card-subtitle>
                        <mat-card-title class="mb-4">UI Developer</mat-card-title>
                        <h3 class="mb-1">About Me</h3>
                        <p class="mb-4">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-button color="accent">Hire me</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="bg-app mat-elevation-z0 profile-card">
                    <mat-card-header class="mb-4">
                        <div mat-card-avatar class="profile-image mat-elevation-z6"></div>
                        <div class="hcount">
                            <h4>
                                <small>Post</small>
                                23
                            </h4>
                        </div>
                        <div class="hcount">
                            <h4>
                                <small>Followers</small>
                                33
                            </h4>
                        </div>
                        <div class="hcount">
                            <h4>
                                <small>Following</small>
                                1.2k
                            </h4>
                        </div>
                    </mat-card-header>

                    <mat-card-content>
                        <mat-card-subtitle>Saurabh</mat-card-subtitle>
                        <mat-card-title class="mb-4">UI Developer</mat-card-title>
                        <h3 class="mb-1">About Me</h3>
                        <p class="mb-4">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-button color="accent">Hire me</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="bg-app mat-elevation-z0 profile-card">
                    <mat-card-header class="mb-4">
                        <div mat-card-avatar class="profile-image mat-elevation-z6"></div>
                        <div class="hcount">
                            <h4>
                                <small>Post</small>
                                23
                            </h4>
                        </div>
                        <div class="hcount">
                            <h4>
                                <small>Followers</small>
                                33
                            </h4>
                        </div>
                        <div class="hcount">
                            <h4>
                                <small>Following</small>
                                1.2k
                            </h4>
                        </div>
                    </mat-card-header>

                    <mat-card-content>
                        <mat-card-subtitle>Saurabh</mat-card-subtitle>
                        <mat-card-title class="mb-4">UI Developer</mat-card-title>
                        <h3 class="mb-1">About Me</h3>
                        <p class="mb-4">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-button color="accent">Hire me</button>
                    </mat-card-actions>
                </mat-card>

            </div>
            <div class="col-3">
                <mat-card class="task-cards">
                    <div class="avatar">
                        <img
                            src="https://media.licdn.com/dms/image/C5603AQFbTLEzn1TGSw/profile-displayphoto-shrink_800_800/0/1633695116233?e=1678320000&v=beta&t=x4CNo5TKtsObmSyFm2xE1QSXcvHO9kg0QqWUb4vUbRo">
                    </div>
                    <mat-card-subtitle class="m-3">Design</mat-card-subtitle>
                    <mat-card-title class="m-3">Fixed UI of app</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="m-3">
                        Lorem ispum dolor sit amet construction. disappointing eloite. Ultra official alrhuments og the
                        theory.
                    </mat-card-subtitle>
                    <div class="icon-row">
                        <button mat-icon-button color="warn">
                            <mat-icon>flag</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>date_range</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="ml-auto">
                            <mat-icon>attachment</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menu2" #menu2Button="matMenuTrigger"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card>
                <mat-card class="task-cards">
                    <div class="avatar">
                        <img
                            src="https://media.licdn.com/dms/image/C5603AQFbTLEzn1TGSw/profile-displayphoto-shrink_800_800/0/1633695116233?e=1678320000&v=beta&t=x4CNo5TKtsObmSyFm2xE1QSXcvHO9kg0QqWUb4vUbRo">
                    </div>
                    <mat-card-subtitle class="m-3">Design</mat-card-subtitle>
                    <mat-card-title class="m-3">Fixed UI of app</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="m-3">
                        Lorem ispum dolor sit amet construction. disappointing eloite. Ultra official alrhuments og the
                        theory.
                    </mat-card-subtitle>
                    <div class="icon-row">
                        <button mat-icon-button color="warn">
                            <mat-icon>flag</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>date_range</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="ml-auto">
                            <mat-icon>attachment</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menu2" #menu2Button="matMenuTrigger"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card>
                <mat-card class="task-cards">
                    <div class="avatar">
                        <img
                            src="https://media.licdn.com/dms/image/C5603AQFbTLEzn1TGSw/profile-displayphoto-shrink_800_800/0/1633695116233?e=1678320000&v=beta&t=x4CNo5TKtsObmSyFm2xE1QSXcvHO9kg0QqWUb4vUbRo">
                    </div>
                    <mat-card-subtitle class="m-3">Design</mat-card-subtitle>
                    <mat-card-title class="m-3">Fixed UI of app</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="m-3">
                        Lorem ispum dolor sit amet construction. disappointing eloite. Ultra official alrhuments og the
                        theory.
                    </mat-card-subtitle>
                    <div class="icon-row">
                        <button mat-icon-button color="warn">
                            <mat-icon>flag</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>date_range</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="ml-auto">
                            <mat-icon>attachment</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menu2" #menu2Button="matMenuTrigger"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card>
                <mat-card class="task-cards">
                    <div class="avatar">
                        <img
                            src="https://media.licdn.com/dms/image/C5603AQFbTLEzn1TGSw/profile-displayphoto-shrink_800_800/0/1633695116233?e=1678320000&v=beta&t=x4CNo5TKtsObmSyFm2xE1QSXcvHO9kg0QqWUb4vUbRo">
                    </div>
                    <mat-card-subtitle class="m-3">Design</mat-card-subtitle>
                    <mat-card-title class="m-3">Fixed UI of app</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="m-3">
                        Lorem ispum dolor sit amet construction. disappointing eloite. Ultra official alrhuments og the
                        theory.
                    </mat-card-subtitle>
                    <div class="icon-row">
                        <button mat-icon-button color="warn">
                            <mat-icon>flag</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>date_range</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="ml-auto">
                            <mat-icon>attachment</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menu2" #menu2Button="matMenuTrigger"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu2="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card ml-2">
                    <img mat-card-image
                        src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
                        alt="Photo of a Shiba Inu">

                    <mat-card-subtitle class="ml-3 mt-2">Nature</mat-card-subtitle>
                    <mat-card-title class="ml-3">The Shiba Inu is the smallest</mat-card-title>
                    <div class="rating ml-3">
                        <mat-icon class="active">star</mat-icon><mat-icon class="active">star</mat-icon><mat-icon
                            class="active">star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                    </div>
                    <mat-divider></mat-divider>

                    <mat-card-content class="mb-2">
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
    </div>